.banner_taiper {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../img/banner/taipei.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -450px;
    @media screen and (max-width: 414px) {
     background-size:auto;
        
    }
    .travel {
        position: absolute;
        left: 5%;
    }
    h1 {
        padding-top: 40px;
        font-size: 120px;
        text-align: center;
        color: white;
        @media screen and (max-width: 414px) {
           padding-top: 150px;
           font-size: 80px;
            
        }
    }
    span {
        display: block;
        color: white;
        font-size: 30px;
        text-align: center;
    }
    .search_taiper {
        // bottom: 0 !important;
        top: 65%;
    }
}
.banner_newtaiper {
    background-image: url(../img/banner/newtaipei.jpg);
}
.banner_tainan {
    background-image: url(../img/banner/tainan.jpg);
}
.banner_kaohsiung {
    background-image: url(../img/banner/kaohsiung.jpg);
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        a {
            width: 290px;
            font-size: 24px;
            text-align: center;
            color: #636366;
            @media screen and (max-width: 414px) {
                width: 50%;
                
            }
        }
        .nav-link {
            margin: 0 !important;
            border-top-left-radius: 0 !important;
            border-top-right-radius: 0 !important;
            border: 0 !important;
            // border-bottom: 4px solid #FFAB47 !important;
        }
        .active {
            color: #ffab47 !important;
            border-bottom: 4px solid #ffab47 !important;
        }
    }
}

// 觀光景點
.viewBox {
    max-width: 1160px;
    margin: 0 auto;
    // border: 1px solid black;
    margin-top: 40px;
    display: flex !important;
    // justify-content: center !important;
    // align-items: center !important;
    flex-wrap: wrap;
    gap: 25px;
    @media screen and (max-width: 414px) {
        width: 100%;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;
        
    }
    a {
        width: 23%;
        text-decoration: none;
        @media screen and (max-width: 414px) {
            width: 45%;
            
        }
        .view_card {
            // width: 23%;
            // height: 320px;
            
            border: 1px solid #eeeeee;
            transition: 0.5s;
            &:hover {
                border: 1px solid #ffab47;
                transform: translateY(-10px);
            }
            img {
                width: 100%;
                height: 176px;
                object-fit: cover;
                @media screen and (max-width: 414px) {
                    // width: 170px;
                    height: 100px;
                
                }
            }
            .view_text {
                padding: 20px;

                div {
                    height: 50px;
                    font-size: 18px;
                    font-weight: 500;
                    color: #636366;
                    margin-bottom: 10px;
                }
                p {
                    color: #79b4b7;
                    font-size: 14px;
                    // display: -webkit-box;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    white-space: normal;
                }
            }
        }
    }
}
