.banner_taiper{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../img/banner/taipei.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0 -450px;
    .travel{
        position: absolute;
        left: 5%;
    }    
    h1{
        padding-top: 40px;
        font-size: 120px;
        text-align: center;
        color: white;
    }
    span{
        display: block;
        color: white;
        font-size: 30px;
        text-align: center;
    }
    .search_taiper{
        // bottom: 0 !important;
        top: 65%;

    }
}
