@import "_taiper.scss";
* {
    font-family: "Times New Roman", Times, serif;
}
body {
    position: relative;
    height: 100vh;
}
.banner {
    // height: 100vh;
    position: relative;
    .banner_box {
        height: 100vh;
        position: relative;
        color: white;
        text-align: center;
        letter-spacing: 5px;
        @media screen and (max-width: 414px) {
            height: 60vh;
            letter-spacing: normal;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            left: 0;
            z-index: -1;
            @media screen and (max-width: 414px) {
                object-fit: fill;
            }
        }
        p {
            padding-top: 200px;
            font-size: 40px;
            @media screen and (max-width: 414px) {
                padding-top: 70px;
                font-size: 30px;
            }
        }
        .title_name {
            margin: 20px 0;
            font-size: 120px;
            @media screen and (max-width: 414px) {
                font-size: 80px;
                margin: 10px 0;
            }
        }
        span {
            font-size: 30px;
            @media screen and (max-width: 414px) {
                font-size: 40px;
            }
        }
    }
    // 箭頭
    .swiper-button {
        position: absolute;
        left: 65%;
        bottom: 15px;
        height: 50px;
        z-index: 10;
        display: flex;
        gap: 50px;
        @media screen and (max-width: 414px) {
            display: none;
        }
        .swiper-left {
            width: 40px;
            height: 40px;
            background-image: url(../img/icon/left.png);
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: 2px 4px;
            border: 1px solid white;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                border: 1px solid #fcbc71;
                background-image: url(../img/icon/left_hover.png);
            }
        }
        .swiper-right {
            width: 40px;
            height: 40px;
            background-image: url(../img/icon/right.png);
            background-size: 30px 30px;
            background-position: 2px 4px;
            border: 1px solid white;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
                border: 1px solid #fcbc71;
                background-image: url(../img/icon/right_hover.png);
            }
        }
    }
    // 小點點
    .swiper-pagination {
        text-align: left;
        left: 50px;
        bottom: 30px;
        //    background: #000;
        @media screen and (max-width: 414px) {
            bottom: 20px;
            left: 50%;
            transform: translateX(-50px);
        }
    }
    .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        width: 25px;
        background: #ffab47;
        border-radius: 10px;
        transition: 0.5s;
    }

    // 右邊icon
    .index {
        height: 100vh;
        // background: #000;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        border-left: 1px solid white;
        @media screen and (max-width: 768px) {
            display: none;
        }
        a {
            color: white;
            .index_box {
                // border: 1px solid white;
                width: 342px;
                height: 33.33333%;
                padding: 30px;
                // transition: all 1s;
                // opacity: 0;
                &:hover {
                    transition: 3s;
                    background-image: url(../img/icon/index_desktop_hover.svg);
                }

                h3 {
                    font-size: 40px;
                }
                p {
                    font-size: 24px;
                    font-weight: 200;
                    margin: 15px 0;
                }
                .index_svg {
                    width: 100%;
                    padding: 30px;
                }
            }
        }
    }
}
// 搜尋
.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 510px;
    height: 100px;
    padding: 30px 60px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 414px) {
        bottom: -20px !important;
        top: auto !important;
        // left: 16%;
        // transform: translate(0, 0);
        width: 260px;
        height: 160px;
        // display: block;
        flex-wrap: wrap;
        gap: 20px;
        padding: 30px 20px;
        text-align: center;
    }
    .search_select > select {
        width: 200px;
        height: 40px;
        background: #ffffff;
        border: none;
        border-radius: 2px;
        padding-left: 10px;
        @media screen and (max-width: 414px) {
            padding-left: 20px;
        }
    }
    .search_a {
        width: 160px;
        height: 40px;
        background: #ffab47;
        display: flex;
        align-items: center;
        padding: 9px 35px 9px 21px;
        transition: 0.5s;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background: #fcbc71;
        }
        @media screen and (max-width: 414px) {
            width: 200px;
            padding: 9px 0;
            margin-right: 0;
            // justify-content: center;
            // margin-left: 10px;
            justify-content: center;
            // margin-top: 20px;
        }
        img {
            width: 40px;
            height: 40px;
        }
        span {
            font-size: 16px;
            color: white;
        }
    }
}
.st0 {
    // width: 300px;
    fill: #ffffff;
}
.index_bottom {
    display: none !important;
    @media screen and (max-width: 414px) {
        display: flex !important;
        padding-bottom: 100px;
    }
}

// 下方選單
.nav_mb {
    display: none;
    @media screen and (max-width: 414px) {
        display: block;
    }
    .nav_list {
        position: fixed;
        left: 0;
        bottom: 0%;
        width: 100%;
        height: 0;
        padding-top: 8px;
        background: #79b4b7;
        display: flex;
        justify-content: space-around;
        .list_box {
            width: 50px;
            height: 50px;
            
            .st1 {
                fill: #ffffff;
            }
            p {
                margin-top: 3px;
                font-size: 12px;
                color: white;
            }
        }
    }
}
// 景點背景圖片
.banner_newtaiper {
    background-image: url(../img/banner/newtaipei.jpg);
}
.banner_tainan {
    background-image: url(../img/banner/tainan.jpg);
}
.banner_kaohsiung {
    background-image: url(../img/banner/kaohsiung.jpg);
}
.hotView {
    background-image: url(../img/banner/taipei.jpg);
    // background-position: 60% 60%;
}

//熱門景點
.banner_btn_text {
    color: white;
    width: 100%;
    height: 70px;

    position: absolute;
    bottom: 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    .banner_btn_box {
        width: 1160px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 640px 400px;
        grid-gap: 65px;
        align-items: baseline;
        padding: 14px 0;
        .banner_btn_text_left {
            font-size: 30px;
        }
        .banner_btn_text_right {
            font-size: 24px;
        }
    }
}
.hot_data {
    width: 1160px;
    // height: 500px;
    margin: 0 auto;
    // border: 1px solid black;
    color: #636366;
    display: grid;
    grid-gap: 65px;
    grid-template-columns: 640px 400px;
    .hot_data_left {
        font-size: 16px;
        margin-top: 60px;
        .hot_data_left_box {
            margin-bottom: 30px;
            p {
                margin-bottom: 30px;
                color: #636366;
            }
            img {
                width: 100%;
                height: 330px;
            }
        }
    }
    .hot_data_right {
        margin-top: 30px;
        color: #636366;
        .upTime {
            font-size: 14px;
            margin-bottom: 16px;
        }
        .hot_data_right_box {
            border: 1px solid #ffab47;
            border-radius: 5px;
            margin-bottom: 30px;
            h3 {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                background: #ffab47;
                font-size: 22px;
                color: white;
                text-align: center;
                padding: 8px 0;
                font-weight: 600;
            }
            .right_content {
                margin-top: 10px;
                padding: 0 30px;
                .content_data {
                    display: flex;
                    align-items: center;
                    gap: 37px;
                    .contact {
                        font-size: 16px;
                        div {
                            margin-bottom: 10px;
                        }
                    }
                    img {
                        width: 80px;
                        height: 80px;
                        object-fit: contain;
                        box-shadow: 0px 0px 10px #ccc;
                        margin-top: 10px;
                        padding: 5px;
                    }
                }
                hr {
                    background: #ffab47;
                }
                .openTime {
                    display: block;
                    margin-bottom: 10px;
                }
                p {
                    line-height: 25px;
                    // color: #636366;
                }
                .week {
                    margin: 20px 0;
                    // border: 1px solid black;
                    span {
                        width: 14%;
                        background: #79b4b7;
                        color: white;
                        padding: 11px;
                        border-radius: 50%;
                        margin: 0 3px;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                .link {
                    display: flex;
                    margin-bottom: 30px;
                    gap: 10px;
                    .tpi {
                        text-decoration: none;
                        // display: inline;
                        // border: 1px solid black;
                        box-shadow: 0 0 10px #ccc;
                        width: 70%;
                        font-size: 18px;
                        text-align: center;
                        color: #636366;
                        padding: 3px 0;
                    }
                }
            }
        }
        .collect {
            border: 1px solid #ffab47;
            border-radius: 5px;
            cursor: pointer;
            margin-bottom: 30px;
            .collect_title {
                position: relative;
                font-size: 22px;
                padding: 13px 0;
                background: #ffab47;
                color: #ffffff;
                font-weight: 500;
                text-align: center;
                // border-bottom: 1px solid #ffab47;
                svg {
                    position: absolute;
                    right: 10%;
                }
            }
        }
        .view_box {
            display: flex;
            gap: 15px;
            a {
                width: 31%;
                text-decoration: none;
                .view_a {
                    svg {
                        margin: 0 auto;
                        display: block;
                        margin-bottom: 10px;
                    }
                    border: 1px solid #79b4b7;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    color: #79b4b7;
                    border-radius: 5px;
                    padding: 15px 0;
                    transition: 0.5s;
                    &:hover{
                        border: 1px solid #ffab47;
                        color: #ffab47;
                        .st3{
                            stroke: #ffab47;
                        }
                    }
                }
            }
        }
    }
}
// 共用字體顏色
.specialWord {
    font-size: 18px;
    color: #79b4b7;
    font-weight: 600;
    &::after {
        content: "|";
        margin: 0 5px;
    }
}
.st3 {
    fill: none;
    stroke: #79b4b7;
    stroke-miterlimit: 10;
    transition: 0.5s;
    
}


// 周邊景點
.attractions {
    width: 100%;
    box-shadow: 0 2px 5px #eee;
    // margin-bottom: 30px;
    // padding-bottom: 12px;
    .attractions_box {
        width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .attractions_left {
            width: 266px;
            color: #ffab47;
            font-size: 22px;
            border-bottom: 4px solid #ffab47;
            text-align: center;
            padding-bottom: 12px;
        }
        a {
            text-decoration: none;
            .attractions_right {
                color: #636366;
            }
        }
    }
}

